---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="font-display">
    <Header />
    <main class="container min-h-[calc(100vh-244px)]">
      <h1 class="ml-10">Welcome to my channel, everyone!</h1>
      <p>
        Welcome to my channel, everyone! I'm thrilled to have you here. This is
        where I share my insights as a Full Stack Developer and DevOps Engineer,
        dabble in the exciting world of DC Comics, and occasionally dive into
        the open-source community. Whether you're a fellow tech enthusiast, a
        comic fan, or just curious about what I do, you've come to the right
        place. Make yourself at home, explore the content, and don't hesitate to
        reach out. Let's connect and create something awesome together!
      </p>
    </main>
    <Footer />
  </body>
</html>
